<app-header-navbar></app-header-navbar>
<div class="container">
  <div class="page-box">
    
    <!-- ข้อมูลส่วนตัว -->
    <div class="profile-section">
      <!-- รูปโปรไฟล์ -->
      <div class="profile-image">
        <img src="assets/testprofile.jpg" alt="Profile" class="rounded-circle">
      </div>
      
      <!-- ข้อมูลโปรไฟล์ -->
      <h3>{{ profile.name }}</h3>
      <p class="bio">{{ profile.bio }}</p>

      <!-- ข้อมูลติดต่อ -->
      <p class="contact">{{ profile.email }}</p>

    </div>
  </div>
</div>