<app-header-navbar></app-header-navbar>
<div class="home-background-wrapper"></div>
<div class="container">
  <div class="row">
    <div class="col-10 offset-1 page-box">
      <h2 class="mb-3">เติม ID-Pass</h2>

      <div *ngIf="loading">กำลังโหลด...</div>
      <div *ngIf="!loading && error" class="text-danger">{{ error }}</div>

      <div class="cards" *ngIf="!loading && !error">
        <a class="card-item" *ngFor="let g of games; trackBy: trackById" [routerLink]="['/game', g.slug || g.id]">
          <div class="thumb">
            <img [src]="g.coverurl || 'assets/testBG.jpg'" [alt]="g.name">
          </div>
          <div class="meta">
            <div class="name">{{ g.name }}</div>
            <button class="btn">เติมเกม</button>
          </div>
        </a>
      </div>


    </div>
  </div>
</div>